<div class="container">

  <div class="form-post">

    <h1>New plan</h1>
    <div class="form-wrapper" style="width: 400px; margin: 0 auto;">
      <%= simple_form_for :search, method: "get" do |f| %>
        <%= f.input :starts_at, as: :string, required: false, input_html: {class: "datepicker"} %>
        <%= f.input :ends_at, as: :string, required: false, input_html: {class: "datepicker"} %>
        <%= f.button :submit, "Go", class: "btn btn-primary" %>
      <% end %>
    </div>

    <div class="row">
      <%= simple_form_for(@plan) do |f| %>

          <!-- Inject categories here -->
          <div class="category-choices">
            <% Category.all.each do |element| %>
              <input class="hidden" type="checkbox" value="<%= element.id %>" name="plan[element_ids][]" id="plan_element_ids_<%= element.id %>">

              <label class="category-choice" for="plan_element_ids_<%= element.id %>">
                <%= element.category %>
                <i class="fa fa-check"></i>
              </label>
            <% end %>
          </div>

          <%= f.submit "Save your plan", class: "btn btn-primary"  %>
        <% end %>
    </div>

  </div>

</div>
