<div class="container">
  <div class="form-post">
    <h1>Plan</h1>
    <div class="form-wrapper" style="width: 400px; margin: 0 auto;">
      <%= simple_form_for(@plan) do |f| %>
          <%= f.input :start_date, as: :string, required: false, input_html: {class: "datepicker"} %>
          <%= f.input :end_date, as: :string, required: false, input_html: {class: "datepicker"} %>
          <%= f.hidden_field :city_id, value: City.find_by(name: params[:city].split(',').first)&.id %>
      <div class="row">
            <!-- Inject categories here -->
            <div class="category-choices">
              <% Category.all.each do |category| %>
                <input class="hidden" type="checkbox" value="<%= category.id %>" name="plan[category_ids][]" id="plan_search_items_<%= category.id %>">
                <label class="category-choice" for="plan_search_items_<%= category.id %>">
                  <%= category.name %>
                </label>
              <% end %>
            </div>
      </div>
      <%= f.submit "Save your plan", class: "btn btn-primary"  %>
      <% end %>
    </div>
  </div>
</div>
