<%= render 'components/loader' %>
<%= render 'components/banner' %>
<div class="container p-3">
  <h1 class="center sec-title" id="trigger1">Cities to visit</h1>
  <% counter = 0 %>
  <% @cities.each do |city| %>
    <% counter == 4 ? counter = 1 : counter += 1  %>
    <% style = ["left-image-first","right-image-first","left-image-second","right-image-second"] %>
    <% if counter == 1 || counter == 3 %>
      <div class="d-flex justify-content-between mb-4">
        <div class= "<%= style[counter-1] %>">
          <%= link_to places_path(query: city.name), class: "animTrigger" do %>
            <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= city.image %>)">
                <%= city.name.split(',').first %>
            </div>
          <% end %>
        </div>
    <% else %>
        <div class="<%= style[counter-1]%>">
          <%= link_to places_path(query: city.name), class: "animTrigger" do %>
            <div class="card-category animTrigger" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= city.image %>)">
                <%= city.name.split(',').first %>
            </div>
          <% end %>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
<div class="pink-container">
  <h1 class="center sec-title">Activities loved by you, organized with us</h1>
  <div class="container p-3">
    <div class="card-row">
      <div class="cards-1">
        <div class="images-1" style= "background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.unsplash.com/photo-1482245294234-b3f2f8d5f1a4?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1660&q=80);">
        </div>
        <h4>Museum</h4>
        <p>Museums ensure understanding for various groups and cultures.</p>
      </div>
      <div class="cards-1">
        <div class="images-1" style= "background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.unsplash.com/photo-1560184611-5b5749138c3c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1487&q=80);">
        </div>
        <h4>Opera</h4>
        <p>“Opera can make us see, feel and hear the World differently.”</p>
      </div>
      <div class="cards-1">
        <div class="images-1" style= "background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.unsplash.com/photo-1524368535928-5b5e00ddc76b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1500&q=80);">
        </div>
        <h4>Concert</h4>
        <p>Concerts are performing live. They are seeing your audience.</p>
      </div>
    </div>
    <div class="card-row">
      <div class="cards-1">
        <div class="images-1" style= "background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.unsplash.com/photo-1508098682722-e99c43a406b2?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1500&q=80);">
        </div>
        <h4>Sport</h4>
        <p>Catch every spectacular play and game-winning drive from the Football, Basketball, Rugby and more.</p>
      </div>
      <div class="cards-1">
        <div class="images-1" style= "background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.unsplash.com/photo-1508807526345-15e9b5f4eaff?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1598&q=80);">
        </div>
        <h4>Ballet</h4>
        <p>Ballet is so much more than a performance on stage.</p>
      </div>
      <div id="card-row">
        <div class="cards-1">
          <div class="images-1" style= "background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.unsplash.com/photo-1513491714241-33805f8ff175?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1500&q=80);">
          </div>
          <h4>Bar</h4>
          <p>Connect, relax, wind down, have fun, meet people, look at people, root for their team together, break up the
          monotony of life, stay in touch with your friends !</p>
        </div>
      </div>
    </div>
    <div class="card-row">
      <div class="cards-1">
        <div class="images-1" style= "background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.unsplash.com/photo-1564694202728-17dd7584bd58?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1534&q=80);">
        </div>
        <h4>Visit the city</h4>
        <p>There are some more unknown places you shouldn't miss!</p>
      </div>
      <div class="cards-1">
        <div class="images-1" style= "background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.unsplash.com/photo-1466978913421-dad2ebd01d17?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1567&q=80);">
        </div>
        <h4>Food</h4>
        <p>Have the best food experiences with locals in the city.</p>
      </div>
      <div class="cards-1">
        <div class="images-1" style= "background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.unsplash.com/photo-1532452119098-a3650b3c46d3?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1500&q=80);">
        </div>
        <h4>Night club</h4>
        <p>A place to unwind from your daily routines!</p>
      </div>
    </div>
  </div>
</div>

  <section>
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-6 order-lg-2">
          <div class="p-5">
            <img style= "width:300px; height:300px; object-fit:cover; border-radius:50%;" src="https://res.cloudinary.com/dc40q0fon/image/upload/v1574510794/guilherme-stecanella-_dH-oQF9w-Y-unsplash_u3leit.jpg" alt="">
          </div>
        </div>
        <div class="col-lg-6 order-lg-1">
          <div class="p-5">
            <h1 class="sec-title">Make the most of your time ... Quick and easy!</h1>
            <br>
            <p>Don't try to see everything, but experience the things you will enjoy the most. Save time and stress from knowing where to go. Trabby has you covered.</p>
          </div>
        </div>
      </div>
    </div>
  </section>

</div>
