<section class="py-3">

  <div class="container">
    <div class="row"></div>
    <br>
    <% add_one_day = 0 %>
    <div class="row scrolling-wrapper-flexbox">
      <% @plan.plan_days.each do |plan_day| %>
      <% add_one_day += 1 %>

        <div class="col-lg-6">
          <div class="card mb-5 mb-lg-0" style="background-color: #E5E5E5; border-radius: 5px;">
            <div class="card-body">
              <!-- weather -->
              <div class="weather">
                <h4 class="weather-text">
                  <%= plan_day.weather_info['description'] %>
                  <%= plan_day.weather_info['temp'] %>ºC
                </h4>
                <img src="<%= plan_day.weather_info['icon'] %>" alt="Weather Icon">
              </div>

              <h5 class="card-title text-muted text-uppercase text-center"><%= plan_day.date %></h5>
              <hr>
              <ul class="fa-ul" id="activitiesDay<%= add_one_day %>">
                <% plan_day.activities.each do |activity| %>
                  <li>

                    <div class="container" style="background: #fff; border-radius: 5px;">

                      <div class="information">
                        <div class="avatar-large" style="background: #333"><%= image_tag activity.place.category.icon_url %></div>
                        <div class="information-content">
                          <p><strong><%= activity.place.name.capitalize %></strong></p>
                          <p><small><%= activity.place.address %></small></p>
                        </div>

                        <div class="information-actions">
<!--                           <a href="javascript:void(0)">Edit <i class="fas fa-pencil-alt"></i></a> -->                          <!-- <a href="javascript:void(0)">Delete <i class="far fa-trash-alt js-remove"></i></a> -->
                            <div class="activity-remove js-remove">
                              <a href="javascript:void(0)">
                                <i class="fa fa-times"></i>
                              </a>
                            </div>
                        </div>
                      </div>

                  </li>
                <% end %>
              </ul>
            </div>
          </div>

          </div>
        <% end %>
    </div>

    <button type="button" class="btn btn-primary btn-lg btn-block">Export to Calendar</button>

    <button type="button" class="btn btn-secondary btn-lg btn-block">Export to E-mail</button>

  </div>

</section>


