<section class="py-5">

    <!-- Export buttons -->
    <div class="container center" style="height: 100px;">
      <div class="btn btn-flat">
        Export to Calendar
      </div>
      <div class="btn btn-flat" style="background: #00CCBC;">
        Export to E-mail
      </div>
    </div>

  <div class="container">


    <br>

    <div class="row">
      <% number_of_days = (@plan[:end_date].mjd - @plan[:start_date].mjd) + 1 %>
      <% add_one_day = 0 %>

      <% until number_of_days == 0%>
        <!-- Day -->
        <% add_one_day += 1 %>
          <div class="col-lg-6">
            <div class="card mb-5 mb-lg-0" style="background-color: #E5E5E5; border-radius: 5px;">
              <div class="card-body">
                <h5 class="card-title text-muted text-uppercase text-center"><%= @plan[:start_date] + add_one_day %></h5>
                <hr>
                <ul class="fa-ul" id="activitiesDay<%= add_one_day %>">
                  <% @plan.activities.each do |activity| %>
                    <li>
                      <div class="container" style="background: #fff; border-radius: 5px;">
                        <!-- Adding X button -->
                        <div class="activity-remove js-remove">
                          <a href="javascript:void(0)" onclick="removeChild(21)">
                            <i class="fa fa-times"></i>
                          </a>
                        </div>
                        <!-- Information -->
                        <div>
                          <h2 style="font-weight: 500;font-size: 12px;line-height: 14px;color: #000000;"><%=activity.place.name%></h2>
                          <p style="font-size: 12px;line-height: 14px;color: #000000;"><%=activity.place.description%></p>
                        </div>
                        <h2 style="font-size: 12px;line-height: 14px;color: #000000;"><%=activity.place.address%></h2>
                      </div>
                    </li>

                  <% break if activity.slot == 8 %>
                  <% end %>

                </ul>

              </div>
            </div>
          </div>

        <% number_of_days -= 1 %>
      <% end %>
      <!-- Day -->

    </div>
  </div>
</section>


<h1 class="center">Add an event</h1>

<ul class="fa-ul" id="activitiesDay8">



</ul>


