<section class="py-3">
  <div class="container">
    <div class="mt-4 mb-1 justify-content-center row">
      <h5 class="mb-3 w-100 text-center dark-blue plan-show-title">Your Itinerary to <%= @plan.city.name %></h5>
        <a href="/plans" style="color: white;" class="w-50 btn btn-primary btn-lg" role="button"><i class="mr-1 far fa-calendar-times"></i>Edit</a>
<!--         <button style="color: white;" type="button" class="w-50 btn btn-secondary btn-sm" disabled><i class="mr-1 far fa-envelope"></i> Export to E-mail</button> -->
    </div>
  </div>
  <div class="">
    <div class="row"></div>

    <br>
    <% add_one_day = 0 %>
    <div class="scrolling-wrapper-flexbox">
      <% @plan.plan_days.each do |plan_day| %>
      <% add_one_day += 1 %>

        <div class="col-lg-6">
          <div class="card mb-5 mb-lg-0" style="background-color: #ffffff57; border-radius: 5px; border: 0; box-shadow: 1px 1px 10px rgba(123, 123, 123, 0.05);">
            <div class="card-body">
              <!-- weather -->
              <h5 class="card-title dark-blue text-uppercase text-center"><%= plan_day.date.strftime("%d of %B") %></h5>
              <hr>
              <p class="forecast-preview">Weather Forecast:</p>

              <div class="weather mt-1">
                <h4 class="weather-text">
                  <%= plan_day.weather_info['description'] %>
                  <%= plan_day.weather_info['temp'].round() %>ºC
                </h4>

                <img src="<%= plan_day.weather_info['icon'] %>" alt="Weather Icon">
              </div>


              <ul class="fa-ul activity-column" id="activitiesDay<%= add_one_day %>">
                <% plan_day.activities.each do |activity| %>
                  <li class="mb-2">

                    <div class="container" style="border: solid 1px #e4e4e4; background: #fff; border-radius: 5px;">

                      <div class="information" style="cursor: grab">
                        <%= image_tag activity.place.category.icon_url, class: "avatar-large", style: "background: #2c3e50a3; border: 0" %>
                        <div class="information-content">
                          <p><strong class="dark-blue"><%= activity.place.name.capitalize %></strong></p>
                          <p><small><%= activity.place.address %></small></p>
                        </div>
                        <i class="menu-burger fas fa-bars"></i>

                        <div class="information-actions">
<!--                           <a href="javascript:void(0)">Edit <i class="fas fa-pencil-alt"></i></a> -->                          <!-- <a href="javascript:void(0)">Delete <i class="far fa-trash-alt js-remove"></i></a> -->
                            <div class="activity-remove js-remove">
                              <a href="javascript:void(0)">
                                <i class="fa fa-times"></i>
                              </a>
                            </div>
                        </div>
                      </div>

                  </li>
                <% end %>
              </ul>
            </div>
          </div>

          </div>
        <% end %>
    </div>
  </div>

</section>


