<%= render 'components/banner_places' %>
<div class="container_places">
  <div class="side_places_data">
    <div
      id="map"
      style="width: 100%;
      height: 100%;"
      data-markers="<%= @markers.to_json %>"
      data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
    ></div>
  </div>
  <div class="main_places_data">
    <div class="info">
      <h3 class="mb-3 dark-blue">What to do in <%= params[:query].split(',').first %></h3>
      <div class="places">
      <% @places.each do |place| %>
        <%= link_to place_path(place.dig(:venue, :id)) do %>
          <div class="card-place" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= smart_image(place) != "" ? smart_image(place) : 'https://images.unsplash.com/photo-1488646953014-85cb44e25828?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1833&q=80' %>);">
            <%= place.dig(:venue, :name) %>
          </div>
        <% end %>
      <% end %>
      </div>
    </div>
  </div>
</div>
