<% image = smart_image(@place) %>
<div class="banner_top" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= image %>)">
  <div class="info-header-place">
    <div class="header"><%= @place['venue']["name"] %></div>
    <div class="d-flex justify-content-center">
      <% if @place['venue']["categories"].present? %>
        <% @place['venue']["categories"].each do |categorie| %>
          <a href="" target="_blank"><button class="button_class mt-2 mr-2" id="white" ><%= categorie["shortName"] %></button></a>
        <% end %>
    <% end %>
    </div>
  </div>
</div>
<!-- to do:
 - center text and website button
- get categories aligned -->
<div class="container info-place">
  <div class="place-info">
    <% if @place['venue']["contact"]["phone"].present? %>
      <div class="icon_card">
        <i class="fas fa-map-pin"></i>
        <p><%= @place['venue']["location"]["address"] %></p>
      </div>
    <% end %>
    <% if @place['venue']["contact"]["phone"].present? %>
      <div class="icon_card">
        <i class="fas fa-phone"></i>
        <p><%= @place['venue']["contact"]["phone"] %></p>
      </div>
    <% end %>
    <% if @place['venue']["rating"].present? %>
      <div class="icon_card">
        <i class="fas fa-star"></i>
        <p><%= @place['venue']["rating"] %>/10</p>
      </div>
    <% end %>
  </div>
  <div class="d-flex justify-content-center db-5">
    <div class="text-center">
      <% if @place['venue']["description"].present? %>
        <p><%= @place['venue']["description"] %></p>
      <% else %>
        <p></p>
      <% end %>
      <% if @place['venue']['url'].present? %>
        <a href="<%= @place['venue']['url']%>" target="_blank"><button class="button_class mt-4 mb-2 mx-auto" href="<%= @place['venue']['url']%>" id="purple" >Go to venue homepage</button></a>
      <% end %>
    </div>
  </div>
</div>
<div
  class="map-place"
  id="map"
  style="width: 80%;
  height: 400px;"
  data-markers="<%= @markers.to_json %>"
  data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
></div>
