<% image = @place['bestPhoto']['prefix'] + 'original' + @place['bestPhoto']['suffix'] %>
<div class="banner_top" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= image %>)">
  <%= @place["name"] %>
</div>

<div class="container">
  <div class="d-flex justify-content-between mb-4 mt-2">
    <% if @place["contact"]["phone"].present? %>
      <div class="icon_card">
        <i class="fas fa-map-pin"></i>
        <p><%= @place["location"]["address"] %></p>
      </div>
    <% end %>

    <% if @place["contact"]["phone"].present? %>
      <div class="icon_card">
        <i class="fas fa-phone"></i>
        <p><%= @place["contact"]["phone"] %></p>
      </div>
    <% end %>

    <% if @place["rating"].present? %>
      <div class="icon_card">
        <i class="fas fa-star"></i>
        <p><%= @place["rating"] %>/10</p>
      </div>
    <% end %>
  </div>

  <div class="d-flex justify-content-between pb-5">
    <div class="flex-fill" id="font17">
      <p>Categories:</p>
      <% if @place["categories"].present? %>
        <% @place["categories"].each do |categorie| %>
          <a href="" target="_blank"><button class="button_class mt-2 mr-2" id="purple" ><%= categorie["shortName"] %></button></a>
        <% end %>
      <% end %>
    </div>
    <div class="flex-grow-1">
      <% if @place["description"].present? %>
        <p><%= @place["description"] %></p>
      <% end %>
      <a href="<%= @place['url']%>" target="_blank"><button class="button_class mt-2 mr-2" href="<%= @place['url']%>" id="purple" >Go to venue homepage</button></a>
    </div>
  </div>
</div>
<div
  id="map"
  style="width: 100%;
  height: 600px;"
  data-markers="<%= @markers.to_json %>"
  data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
></div>



<!-- <div class="container">
<h3 div class="title1"><%#= @place["name"] %></h3>
<div class="place_info_wrapper">
  <div class="place_main_info">

   <p><span class="title" >Address: </span><%#= @place["location"]["address"] %></p>
    <p><span class="title">Phone: </span><%#= @place["contact"]["phone"] %></p>
    <p><span class="title">Rating: </span><%#= @place["rating"]%></p>
    <p><span class="title">Url: </span><a href="<%#= @place['url']%>"><%#= @place["url"]%></a></p>
    <p><span class="title">Categories: </span>
      <ul>
      <%# @place["categories"].each do |categorie| %>
       <li><%#= categorie["shortName"] %></li>
      <%# end %>
      </ul>
        <%# if @place["description"] %>
          <p><%#= @place["description"] %></p>
        <%# end %>
    </p>
  </div>
  <div class="place_side_info">
    <img src="<%#= @place['bestPhoto']['prefix'] + '300x500' + @place['bestPhoto']['suffix']%>" alt="">
  </div>
</div>
</div> -->


